html {
    font-family: sans-serif;
    /*background-image: url("C:/Users/User/Desktop/LuisPaginaProyect/assets/background_pixel.jpg");*/
    background-size: cover;
    background-position: center center;
    min-width: 320px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    box-shadow: inset 0 0 40px rgba(51, 255, 0, 0.199),
        0 0 60px rgba(51, 255, 0, 0.199);

}

#nombre {
    max-width: 150px;
    font-size: 20px;
}

#iconMenu,
.headerButtonClose {
    display: none;
}


.navUl {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 5px;

}

.navHeader li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 0 10px;
}

.navHeader li:hover {
    box-shadow: inset 0 0 20px rgba(51, 255, 0, 0.7),
        0 0 20px rgba(51, 255, 0, 0.7);
    border: 2px solid #a7ee00;
    cursor: pointer;
    border-radius: 20px;
}



@media (max-width:460px) {
    #iconMenu {
        display: block;
        scale: 1.9;
    }

    .headerButtonClose {
        display: flex;
        margin: 0 1rem;
        padding: 10px 0 10px 0;
        justify-content: center;
        background-color: transparent;
        color: white;
        border: 0;
        border-radius: 10px;
        box-shadow: inset 0 0 40px rgba(51, 255, 0, 0.199);
        font-weight: bold;

    }

    .headerButtonClose:hover {
        box-shadow: inset 0 0 20px rgba(51, 255, 0, 0.7),
            0 0 20px rgba(51, 255, 0, 0.7);
        border: 2px solid #a7ee00;
        cursor: pointer;
    }


    .navHeader {
        display: none;
    }

    .navHeaderSide {

        display: flex;
        flex-flow: column;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5),
            inset 0 0 40px rgba(51, 255, 0, 0.199);
        background-color: black;
        padding: 20px;
        gap: 10px;


    }

    .navUl {
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 1rem;
        margin: 0;
    }

    .navHeader li a {
        padding: 15px;

    }

    .navHeader li:hover {
        width: 100%;
        box-shadow: inset 0 0 20px rgba(51, 255, 0, 0.7),
            0 0 20px rgba(51, 255, 0, 0.7);
        border: 2px solid #a7ee00c9;
        cursor: pointer;
        text-align: center;
        border-radius: 10px;
    }
}




body {
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    color: white;
}

.container-card {
    display: flex;
    flex-flow: row;
    min-width: 320px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    height: auto;
    border-radius: 20px;
    margin-top: 60px;
    align-content: center;
    background-color: transparent;



    box-shadow: inset 0 0 30px rgba(51, 255, 0, 0.2);
}

.container-card img {
    max-width: 40%;
    max-height: 315px;
    border-radius: 20px 0 0;
    aspect-ratio: 3/4;
}



#info-card {
    margin: auto auto;
    padding: 1rem;
    min-width: 320px;
    width: 750px;


}

#info-card h2 {
    font-size: 32px;
    margin-top: 0;
    text-align: center
}

#sections-studies {
    display: none;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    min-width: 320px;
    border-radius: 20px;
    box-shadow: inset 0 0 30px rgba(51, 255, 0, 0.2);

}

.container-studies {
    padding: 4%;
}

.description {
    margin: 0;

    text-align: justify;


}

@media (max-width:768px) {

    .container-card {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding-left: 16px;
    }

    .container-card .myPhoto {

        height: 340px;
        border-radius: 20px;
        justify-content: center;
    }

    #info-card h2 {
        font-size: 28px;
    }
}

@media (max-width:460px) {
    .container-card {
        display: flex;
        flex-flow: column;
        align-items: center;
        box-sizing: border-box;
        padding-left: 0;

    }

    .container-card .myPhoto {
        max-width: none;
        width: 80%;
        border-radius: 20px;
        margin-top: 20px;
        object-fit: cover;
    }

    #info-card {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }
}


#container-studies1 {
    padding-bottom: 0;
}

#container-studies2 {
    padding-top: 0;
}

#title-generation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#title-generation h3 {
    margin: 0;
}

#title-oracle {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#title-oracle h3 {
    margin: 0;
}

#section-skills {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 3%;
}

#section-skills h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 10%;
}

#sectionProyectSelector h2 {
    font-size: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.container-skills {

    display: flex;
    flex-flow: row wrap;
    width: 60%;
    min-width: 320px;
    margin: 0 auto;

    background-color: transparent;
    /*box-shadow: inset 0 0 70px rgba(255, 255, 255, 0.1);*/
    border-radius: 20px;
    justify-content: space-between;
}

.card-skills {
    cursor: pointer;
    width: 10%;
    min-width: 60px;
    box-shadow: inset 0 0 30px rgba(51, 255, 0, 0.3);
    border-radius: 20px;
    overflow: hidden;
    /*Oculta todo lo que se sale del contenedor*/
    padding: 5px;
    margin-bottom: 5px;
}

.card-skills:hover {
    box-shadow: inset 0 0 70px rgba(51, 255, 0, 0.527);
}

.icons-skills {
    display: block;
    width: 100%;
    min-width: 50px;
    object-fit: cover;
    /*No deja cambiar la resolucion de la imagen si se cambia el tamaño*/
}


/*from here project section style beware*/
#sectionProyectSelector {
    margin: 30px auto;
    width: 80%;
    min-width: 320px;
    display: flex;
    flex-flow: column;
    box-shadow: inset 0 0 30px rgba(51, 255, 0, 0.2);
    border-radius: 20px;
    align-items: center;
    padding: 10px;
}

#projectText p {
    font-size: 20px;
    text-align: center;
}

#projectButtonsContainer {
    display: flex;
    flex-flow: row wrap;
    width: auto;

    justify-content: center;
}

.projectButton {
    margin: 10px;
    width: 120px;
    height: 40px;
    background-color: transparent;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: inset 0 0 20px rgba(51, 255, 0, 0.281);
    border: transparent;
}

.projectButton:hover {

    box-shadow: inset 0 0 20px rgba(51, 255, 0, 0.7),
        0 0 20px rgba(51, 255, 0, 0.7);
    border: 2px solid #a7ee00;
    cursor: pointer;
    border-radius: 40px;
}



.projectsSectionNoActive {
    display: none;
}

.projectsSectionActive {
    margin: 30px auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 80%;
    min-width: 320px;
    height: auto;
    padding: 10px;
    min-height: 100px;
    box-shadow: inset 0 0 20px rgba(51, 255, 0, 0.281);
}

.noActiveProject {
    display: none;
}

/*toDo List style*/
.toDoContainer {
    display: flex;
    flex-flow: column;
    margin: 20px;
    max-width: 400px;
    min-width: 320px;
    height: 400px;
    background: linear-gradient(45deg, #1a1a1a, #002c02);
    border: 2px solid #4dc453;
    border-radius: 10px;
    box-sizing: border-box;
    align-items: center;
    padding: 1rem;



}

.toDoContainer:hover {
    width: 400px;
    height: 400px;
    background-color: #1a1a1a;
    border: 4px double #87ee00;
    border-radius: 10px;

}

.toDoContainer #listTitle {
    text-align: center;
    color: aliceblue;

}

#textTaskId {
    height: 30px;
    width: 80%;

    border: 1px solid #00ee0c;
    border-radius: 15px;
    background-color: transparent;
    color: whitesmoke;
    padding-left: 5%;

}

#textTaskId::placeholder {
    padding-left: 10px;
    font-size: 15px;
    font-weight: lighter;
}

.toDoContainer .button {
    height: 50px;
    width: 100px;
    color: #00ee0c;
    background-color: #2b2b2b00;
    border: 1px solid #00ee0c;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 14px;
}

.toDoContainer .button:hover {
    height: 50px;
    width: 100px;
    color: #2b2b2b;
    background-color: #00ee0c;
    border: 1px solid #00ee0c;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 0 0 15px black;
    font: size 15px;
    font-weight: bolder;
}

.toDoContainer #deleteTask {
    margin-left: 10px;
}

#toDoList {
    width: 100%;
    margin: 1rem;
    padding: 0;

}

.liListElement {
    width: 90%;
    border: 2px solid #002c02;
    margin-bottom: 2px;
    margin: 0 10px;
    display: flex;
    height: auto;
    word-break: break-all;

}

.textLabel {
    cursor: pointer;

}

.checkInput {
    margin-right: 10px;
    cursor: pointer;
}


/*poke API style*/

.containerPokeAPI {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;

    background: linear-gradient(30deg, rgb(190, 237, 255), rgb(173, 228, 250));
    border-radius: 15px;

    padding: 5px;
}

.favoritesSectionNone {
    display: none;
}

@media (min-width: 1024px) {
    .searchSection {
        box-sizing: border-box;
        width: 100%;
        min-width: 310px;
        height: auto;
        border: 2px solid white;
        border-radius: 15px;
        display: flex;
        flex-flow: column;
        padding-bottom: 15px;
        margin: 5px;
    }

    .favoritesSection {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        max-height: 341px;

        border: 2px solid white;
        border-radius: 15px;
        display: flex;
        flex-flow: wrap;
        padding-bottom: 15px;
        min-width: 310px;
        justify-content: center;
        margin: 5px;
    }
}

@media (min-width: 768px) {
    .searchSection {
        box-sizing: border-box;
        width: 100%;
        min-width: 310px;
        height: auto;
        border: 2px solid white;
        border-radius: 15px;
        display: flex;
        flex-flow: column;
        padding-bottom: 15px;
        margin: 5px;
    }

    .favoritesSection {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        max-height: 341px;

        border: 2px solid white;
        border-radius: 15px;
        display: flex;
        flex-flow: wrap;
        padding-bottom: 15px;
        min-width: 310px;
        justify-content: center;
        margin: 5px;
    }
}

.searchSection {
    box-sizing: border-box;
    width: 100%;
    min-width: 310px;
    height: auto;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    padding-bottom: 15px;
    margin: 5px;
}

.favoritesSection {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-height: 341px;

    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    flex-flow: wrap;
    padding-bottom: 15px;
    min-width: 310px;
    justify-content: center;
    margin: 5px;
}

.favoriteCardContainer {

    width: 100%;
    height: auto;
    max-height: 220px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;

}

.favoriteCardContainer::-webkit-scrollbar {

    width: 8px;
}

.favoriteCardContainer::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.favoriteCardContainer::-webkit-scrollbar-thumb {
    background: rgb(255, 107, 107);
    border-radius: 10px;
}

.searchRaw {
    display: flex;
    flex-flow: row;
    justify-content: center;

    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: auto;

}

.searchInput {
    width: 50%;
    height: 35px;
    border: none;
    background-color: rgba(219, 219, 219, 0.801);
    border-radius: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.searchInput:focus {
    outline: none;
    background-color: white;
}

.searchInput:focus::placeholder {
    opacity: 0;
}

.searchPokemonButton,
.clearAllButton {
    border-radius: 50%;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: rgb(255, 107, 107);
    margin-right: 5px;

}

.clearAllButton {
    width: auto;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.searchPokemonButton:hover,
.clearAllButton:hover {
    background-color: #919191;
    color: white;
}

.searchPokemonButton i {
    font-size: 20px;
    margin: 0;
    padding: 2px;

}

.clearAllButton i {
    font-size: 13.3px;
    font-weight: bold;
    font-style: normal;
}


.listContainer {
    display: flex;

    height: 40px;
    width: 90%;

    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    align-items: center;
}

.unitSearchContentNone {
    display: none;
}


.listContent {
    display: flex;
    flex-flow: wrap;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    justify-content: center;
}

.unitSearchContent {
    display: flex;
    flex-flow: wrap;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    justify-content: center;
    padding: 10px;
}

/*Scroll bar style*/
.listContent::-webkit-scrollbar {
    width: 8px;
}

.listContent::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.listContent::-webkit-scrollbar-thumb {
    background: rgb(255, 107, 107);
    border-radius: 10px;
}

.getListButton,
.clearButton {
    height: 35px;
    border-radius: 25px;
    border: transparent;
    margin: 0 auto;
    cursor: pointer;
    background-color: rgb(255, 107, 107);
    color: black;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.getListButton:hover,
.clearButton:hover {
    background-color: #919191;
    color: white;
}

.getListButton:focus {
    background-color: white;
    color: rgb(255, 107, 107);
}

/*POke cards style*/

.pokeCard {

    width: 110px;
    display: flex;
    height: 140px;
    flex-flow: column;
    align-items: center;
    margin: 2px;
    border-radius: 15px;
    box-shadow: inset 0 0 60px rgba(71, 203, 255, 0.603);


}

.pokeCard:hover {
    transform: scale(1.05);
    box-shadow: inset 0 0 60px rgba(255, 107, 107, 0.363), 3px 3px 10px rgba(0, 0, 0, 0.199);
}

.pokeCard:hover,
.titleCard:hover {
    color: black
}

.titleCard {
    font-weight: bold;
    margin: 0;
}


#imgCard {
    height: fit-content;
    margin: 0;
}

.cardButtonSection {

    width: 80%;
    text-align: center;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
}

#favoriteButton {
    color: yellow;
    cursor: pointer;
    transform: scale(1.5);
}

#deleteButton {
    color: red;
    cursor: pointer;
    transform: scale(1.5);
}


#favoriteButton:hover,
#deleteButton:hover {
    transform: scale(1.6);
}

/**/
.containerButtonsFavorite {
    height: 50px;

    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    align-content: center;

}

.clearAllButtonFavorite {
    border-radius: 50px;
    border: none;
    width: auto;
    height: 35px;
    cursor: pointer;
    background-color: rgb(255, 107, 107);
    margin: 0 auto;
    font-weight: bold;

    padding-left: 15px;
    padding-right: 15px;
}

.clearAllButtonFavorite i {
    font-style: normal;
}


.clearAllButtonFavorite:hover {
    background-color: #919191;
    color: white;
}


/*Nasa Section style*/

#showNasaApiSection {
    min-height: 200px;
}

.nasaMain {
    height: auto;
    width: 100%;
    background-image: url('../assets/spacebackground.jpg');
    background-size: cover;
    background-position-y: bottom;

    background-repeat: no-repeat;
    border-radius: 15px;
}

@media (min-width: 1024px) {
    .nasaMain {
        background-position-y: bottom;
    }
}

@media (min-width: 768px) {
    .nasaMain {
        background-position-y: bottom;
    }

}


.imageAPODContainer {
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.336);
    margin: 0 auto;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-flow: column;
    align-content: center;
    overflow: hidden;
    padding: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.24);


}

.imgAPOD {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 15px black;

}

.titleAPOD {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0 0 5px rgb(71, 71, 71);
}

.titleImageAPOD {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(111, 0, 255);
}

.explanation {
    font-size: 16px;
    text-align: justify;
}

.infoAPOD {
    width: 100%;
}

@media (min-width: 768px) {
    .imageAPODContainer {
        flex-flow: column;
    }

    .imgAPOD {
        width: 100%;
        object-fit: cover;
    }

    .infoAPOD {
        width: 100%;

    }

    .titleImageAPOD {
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        text-shadow: 0 0 5px rgb(111, 0, 255);
    }

    .explanation {
        font-size: 20px;
        text-align: justify;

    }
}

@media (min-width: 1024px) {
    .imageAPODContainer {
        flex-flow: row;
    }

    .imgAPOD {
        width: 48%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: 0 0 15px black;
    }

    .infoAPOD {
        width: 48%;
        margin: 15px;
    }

    .titleImageAPOD {
        font-size: 22px;
        text-align: center;
        font-weight: bold;
        text-shadow: 0 0 5px rgb(111, 0, 255);
    }

    .explanation {
        font-size: 18px;

        text-align: justify;
    }
}

.searchAPODByDay {
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.336);
    margin: 0 auto;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-flow: row;
    align-content: center;
    overflow: hidden;
    padding: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.24);
    justify-content: center;
}

.searchAPODByDay input {
    width: 120px;
    margin-left: 15px;
    font-weight: bold;
}


.asteroidsContainer {
    width: 100%;
    height: auto;
    padding-bottom: 0;

}

.nearObjectsTitle {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0 0 5px rgb(71, 71, 71);
}

.nearObjectsContainerList {
    width: 100%;
    height: auto;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 121, 121, 0.048);
    box-shadow: inset 0 0 20px rgba(204, 204, 204, 0.219);
    border-radius: 15px;
    margin-top: 20px;

    box-sizing: border-box;
    padding: 15px;
}

.itemObjectList {
    font-weight: 600;
    margin: 5px;
}

.searchAPODByDay {
    display: flex;
    flex-flow: wrap;
}

.searchAPODByDay label {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    align-content: center;
}

.searchAPODByDay input,
.searchAPODByDay button {
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    width: 110px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 15px rgba(0, 0, 255, 0.733);
    border: transparent;
    color: black;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.searchAPODByDay button {
    width: 120px;
}

.searchAPODByDay #dateInput::-webkit-calendar-picker-indicator {
    color: white;
    cursor: pointer;
}

.searchAPODByDay input:hover,
.searchAPODByDay button:hover {
    box-shadow: inset 0 0 60px rgb(0, 0, 255),
        0 0 10px rgba(0, 0, 255, 0.418);
    color: white;

}

.earthPolychromatic {
    width: 100%;
    height: auto;
    backdrop-filter: blur(5px);
    background-color: rgba(7, 139, 13, 0.123);
    box-shadow: inset 0 0 20px rgba(204, 204, 204, 0.219);
    border-radius: 15px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 15px;

}

.earthPhotosTitle {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0 0 5px rgb(71, 71, 71);
}

.titleImg {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(0, 155, 59);
}

.titleAndImg {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.imgEPIC {
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}

.searchearthPolychromaticByDay {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.searchearthPolychromaticByDay label {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    align-content: center;

    text-align: justify;
}

.searchearthPolychromaticByDay input,
.searchearthPolychromaticByDay button {
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    width: 110px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 15px rgba(0, 255, 21, 0.40);
    border: transparent;
    color: black;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.searchearthPolychromaticByDay input {
    margin-left: 15px;
}

.searchearthPolychromaticByDay button {
    width: 120px;
}

.searchearthPolychromaticByDay #dateInput::-webkit-calendar-picker-indicator {
    color: white;
    cursor: pointer;
}

.searchearthPolychromaticByDay input:hover,
.searchearthPolychromaticByDay button:hover {
    box-shadow: inset 0 0 60px rgba(0, 255, 21, 0.40),
        0 0 10px rgba(0, 255, 21, 0.40);
    color: black
}

#projectButtonsContainerEcommerce {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-content: center;
    padding: 1rem;
}

.containerImagePetsStore,
.containerImageIceCreamStore {
    display: block;
    width: 45%;
    min-width: 320px;
    justify-content: center;
    box-shadow: inset 0 0 30px rgba(51, 255, 0, 0.2);
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.containerImagePetsStore::-webkit-scrollbar {
    width: 8px;
}

.containerImagePetsStore::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.containerImagePetsStore::-webkit-scrollbar-thumb {
    background: rgba(51, 255, 0, 0.2);
    border-radius: 10px;
    position: relative;
    top: 5px;
}


.containerImageIceCreamStore::-webkit-scrollbar {
    width: 8px;
}

.containerImageIceCreamStore::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.containerImageIceCreamStore::-webkit-scrollbar-thumb {
    background: rgba(51, 255, 0, 0.2);
    border-radius: 10px;
    position: relative;
    top: 5px;
}

.petsStoreImg,
.byteAndCreamStoreImg {
    width: 100%;
    height: auto;
    display: block;
    max-height: none;

}

@media (max-width:768px) {
    #projectButtonsContainerEcommerce {

        flex-flow: column;
        gap: 1rem;
    }

    .containerImagePetsStore,
    .containerImageIceCreamStore {
        width: 100%;
    }
}

footer {
    background-color: rgb(24, 32, 23);
    height: 150px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}


.contactInfoContainer, .containerName, .socialMediaContainer{
    width: 301px;
}




.contactInfoContainer {
    align-content: center;
    padding: 1rem;
    box-sizing: border-box;
}
.personalInfoList {
    display: flex;
    flex-flow: column;
    list-style-type: none;
    padding: 0.5rem;
    text-align: left;
    margin: 0;
    gap: 2px;
}



personalInfoList li {}

.personalInfoList p {
    text-align: left;
    font-weight: bold;
    margin: 0;
}

.containerName {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.innerContainerName {
    width: auto;
    padding: 0 1rem;
    box-shadow: inset 0 0 10px rgba(51, 255, 0, 0.7),
        0 0 10px rgba(51, 255, 0, 0.7);
    border: 2px solid #a7ee00;
    border-radius: 30px;
    font-weight: bold;
}


.innerContainerName p {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    color: #ffffff;
    width: auto;
}

.socialMediaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SocialMedia {
    width: auto;
}

.SocialMedia i {
    font-size: 50px;
    color: white;
    text-shadow: 0 0 15px rgba(51, 255, 0, 0.7);
}
@media (max-width:460px) {

    footer {
        flex-flow: column;
        height: auto;
        align-items: center;
        gap: 1rem;
    }

    .contactInfoContainer {
        padding: 0;

    }

    .personalInfoList,
    .personalInfoList p {
        text-align: center;
    }
}